<!DOCTYPE html>
<html>
  </form>
      <p> LAS CARRERAS SON LAS SIGUIENTES: </p>
      <ul>
	         <% @careers.map do |career| %>
	           <li>
	               <a href="careers/<%=career.id%>"> <%= career.name %> (<%= career.surveys.count.to_s %>)</a>
            </li>
	         <% end %>
      </ul> 
      <p id = "aviso">
    	   <b> -.El numero dentro de ( ) es la cantidad de usuarios que tuvieron como resultado esa carrera.-</b>
      </p>
      <form action='/init' method='POST'>
  		</br>
    	   <input type='submit' value='Volver atrás'>
      </form>
</html>
