<!DOCTYPE html>
<html>
     <h1>------------------------------------------------TESTVOCACIONAL-21-----------------------------------</h1>
        <td>
            <label>¡¡UNA LASTIMA <%=@user%> !! NO NOS PROPORCIONASTE DEMASIADA INFORMACION :( ) </label>
        </td>
        
   		<form action='/inicio' method='POST'>
   			<br/>
    		<input type='submit' value='Realizar otro test'>
      </form>
		  <form action='/init' method='POST'>
  			</br>
    		<input type='submit' value='Inicio'>
   		</form>
</html>
