<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/styles.css' type='text/css'/>
        <title> TESTVOCACIONAL-21</title>
    </head>

    <body class='background2'>

        <h1>Error..!!</h1>
            <% if defined? errorMessage %>
                <p style="color: red"><%= errorMessage %></p>
            <% end %>
        
    </body>

</html>