<!DOCTYPE html>
<html>
	<% case @career_id
        when 1%>
        	<p> DESCRIPCIÓN: La Agronomía o la Ingeniería Agronómica es la carrera que forma los profesionales en esta área. Por ende, un Ingeniero Agrónomo es el profesional encargado del manejo de los recursos naturales sustentables.<p> 
        	<p>El Ingeniero Agrónomo es el encargado de planificar, organizary llevar a cabo las investigaciones acerca del aprovechamiento de suelos dedicados a la agricultura. Estos estudios incluyen el control del riego, la fertilidad, la mecanización agrícola, así como el drenaje. Asimismo, es quien redacta proyectos de mejora agrícola y genética, de construcción, así como de enfermedades y plagas tanto en animales como en plantas.<p>
       		<p>Un Ingeniero Agrónomo puede trabajar en instituciones públicas dedicadas a la agricultura, en instituciones, ya sean públicas o privadas, educativas, en empresas dedicadas a la producción de químicos, así como la producción agrícola, en asociaciones agroindustriales y agropecuarias y empresas dedicadas a la agronomía en general.<p>
        	</br>
        	<p>DURACIÓN: 5 años.<p>
        <%when 2%>
        	<p>DESCRIPCIÓN:La arquitectura para muchos no es sólo una carrera profesional, sino una vocación. No es que los futuros estudiantes de arquitectura tomen su decisión de una manera emocional o irracional. Por el contrario, es más bien una situación en la que las habilidades, talentos, intereses y preocupaciones de estas personas se alinean con las opciones que ofrece la vida como arquitecto.<p>
        	<p>En la carrera de arquitectura no solo te enseñan a construir. Aprendes a crear espacios agradables y funcionales. Estos pueden ser espacios para trabajar, vivir, hacer deporte, ir a un concierto, etc. Es por eso que esta carrera es para personas que les guste el diseño y la estética, que tengan la capacidad de entender las necesidades de los demás y que no le teman a los números.<p>
        	<p>Durante la carrera de arquitectura se analizan tres aspectos, cada uno igual de importante: tecnología, teoría y diseño.<p>
        	</br>
        	<p>DURACIÓN: 5 años.<p>
        <%when 3%>
        	<p>DESCRIPCIÓN: No hay ninguna carrera que te haga artista. Pero puedes aprender a desarrollar tus ideas creativas de la mejor manera. ¿Cómo? Estudiando bellas artes. En la carrera de bellas artes aprendes a desarrollar tu visión única, conoces un poco de cada una de las disciplinas y tú decides en cual especializarte.<p>
        	<p>Las bellas artes surgen desde la antigua Grecia, donde eran clasificadas como artes mayores y artes menores. Las artes mayores eran las que llegaban a las personas por medio de la vista y el oído, y las menores se percibían por el tacto, el gusto y el olfato.<p>
        	<p>Las bellas artes son una forma de expresión, también se clasifican como una manera universal de lenguaje en la que la estética y la belleza sobresalen. Estas formas de expresión ya no son clasificadas por el medio por el cual se trasmiten, aunque las siete son percibidas por medio del oído y la vista. Estas son: la arquitectura, la escultura, la pintura, la música, la literatura, la danza y el cine. Dedicarte a alguna de estas disciplinas no solo es expresarte, es también una manera de mantenerte sano, de curar tu alma al decir lo que sientes por un medio muy bello, el cual las personas llamamos: ARTE.<p>
        	</br>
        	<p>DURACIÓN: 5 años aprox.<p>
        <%when 4%>
        	<p>DESCRIPCIÓN: El titulo de Analista en Sistemas brinda los conocimientos para comprender las estructuras de programación relacionadas con las estructuras de datos. Los graduados pueden diagnosticar las necesidades de información de los usuarios y diseñar nuevos sistemas o modificar los existentes.<p>
        	<p>La carrera incluye conocimientos sobre diversos lenguajes de programación, sistemas operativos, hardware y telecomunicaciones. Además brinda sólida formación en matemática, Ingeniería del Software (metodologías de análisis, diseño e implementación, normas de calidad, integración de sistemas de base de datos, dirección de proyectos), sistemas en tiempo real, inteligencia artificial y simulación de sistemas. Los graduados están capacitados para entender los procesos de negocios y actuar en ambientes interdisciplinarios, como el de la alta dirección.<p>
        	<p>Los alumnos realizan sus prácticas en laboratorios altamente equipados y trabajan en cursos reducidos. Esto hace que la enseñanza sea mucho más individualizada.<p>
        	<p>La carrera otorga el título intermedio de Analista de Sistemas al finalizar el tercer año, que acredita conocimientos en programación y análisis de sistemas. Esto colabora con la inserción laboral de los estudiantes.<p>
        	</br>	
        	<p>DURACIÓN: 3 años aprox.<p>
        <%when 5%>
        	<p>DESCRIPCIÓN:<p>
        	<p>DURACIÓN:<p>
        <%when 6%>
        	<p>DESCRIPCIÓN:<p>
        	<p>DURACIÓN:<p>
        <%when 7%>
        	<p>DESCRIPCIÓN:<p>
        	<p>DURACIÓN:<p>
        <%when 8%>
        	<p>DESCRIPCIÓN:<p>
        	<p>DURACIÓN:<p>
        <%when 9%>
        	<p>DESCRIPCIÓN:<p>
        	<p>DURACIÓN:<p>
        <%when 10%>
        	<p>DESCRIPCIÓN:<p>
        	<p>DURACIÓN:<p>
        <%when 11%>
        	<p>DESCRIPCIÓN:<p>
        	<p>DURACIÓN:<p>
        <%when 12%>
        	<p>DESCRIPCIÓN:<p>
        	<p>DURACIÓN:<p>
        <%when 13%>
        	<p>DESCRIPCIÓN: La carrera de Medicina brinda el conocimiento para diagnosticar y tratar pacientes, prevenir enfermedades, administrar los recursos farmacológicos y estar capacitado para los cambios científicos y tecnológicos. En un principio el médico está preparado para resolver problemas de salud generales y luego puede especializarse en un área en particular.<p>
        	<p>Cursar estudios universitarios en medicina puede ser una gran decisión una vez los alumnos se encuentran en la encrucijada de decidir acerca de su futuro académico, siempre y cuando se trate de una elección puramente vocacional, ya que, a pesar de ser una carrera con una larga tradición, acarrea responsabilidades que distan mucho del resto de ofertas formativas.<p>
        	<p>Estudiar la carrera de medicina propiciará, sin lugar a duda, un cambio importante en la vida del aspirante. La dedicación que requiere dicha titulación implicará numerosas horas de esfuerzo en estudios e investigación, y por lo tanto no se adapta con facilidad a cualquier perfil estudiantil.<p>
        	</br>
        	<p>DURACIÓN: 7 años aprox.<p>
        <%when 14%>
        	<p>DESCRIPCIÓN:<p>
        	<p>DURACIÓN:<p>
        <%when 15%>
        	<p>DESCRIPCIÓN:<p>
        	<p>DURACIÓN:<p>
        <%when 16%>
        	<p>DESCRIPCIÓN:<p>
        	<p>DURACIÓN:<p>
        <%when 17%>
        	<p>DESCRIPCIÓN: La carrera de Veterinaria forma profesionales para curar y llevar adelante prevenciones de las enfermedades sobre los animales.<p>
        	<p>El estudio de Veterinaria permite incorporar conocimientos a nivel científico relacionados con la salud de los animales y el cuidado necesario para mejorar su calidad de vida. El egresado desarrolla medidas para detectar aquellas enfermedades que pueden ser transmitidas desde los animales hacia el hombre, siendo vital para el avance y el crecimiento de la salud pública.<p>
        	<p>El profesional cuenta con técnicas para sacar un mayor provecho de la tecnología en alimentación para optimizar la rentabilidad de los productos que llegan del mundo animal.<p>
        	<p>El veterinario está interesado en el cuidado de los recursos naturales y todo aspecto ecológico del ambiente que lo rodea, puede trabajar en sectores públicos o privados, conoce el comportamiento de los animales, trabaja con todo tipo de razas y dispone de los conocimientos comerciales y la tenencia legal de aquellos animales que pueden ser domésticos.<p>
        	</br>
			<p>DURACIÓN: 5 años aprox.<p>
    <%end%>
    <form action='/info_careers' method='POST'>
        </br>
    	<input type='submit' value='Volver atrás'>
    </form>
</html>
