<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/styles.css' type='text/css'/>
    </head>

    <body class="background2">

	<% case @career_id
        when 1%>
                <div class='result-img'>
                    <img src="../img/Agronomia.jpg"/>
                </div>

                <div class= 'info-careers'>
        	        <p> DESCRIPCIÓN: La Agronomía o la Ingeniería Agronómica es la carrera que forma los profesionales en esta área. Por ende, un Ingeniero Agrónomo es el profesional encargado del manejo de los recursos naturales sustentables.<p> 
        	        <p>El Ingeniero Agrónomo es el encargado de planificar, organizar y llevar a cabo las investigaciones acerca del aprovechamiento de suelos dedicados a la agricultura. Estos estudios incluyen el control del riego, la fertilidad, la mecanización agrícola, así como el drenaje. Asimismo, es quien redacta proyectos de mejora agrícola y genética, de construcción, así como de enfermedades y plagas tanto en animales como en plantas.<p>
       		        <p>Un Ingeniero Agrónomo puede trabajar en instituciones públicas dedicadas a la agricultura, en instituciones, ya sean públicas o privadas, educativas, en empresas dedicadas a la producción de químicos, así como la producción agrícola, en asociaciones agroindustriales y agropecuarias y empresas dedicadas a la agronomía en general.<p>
        	        </br>
        	        <p>DURACIÓN: 5 años.<p>
                    </br>  
                    <a href="https://www.unrc.edu.ar/unrc/carreras/ayv_ingenieria_agronomica.htm" target="_blank">Click aqui para mas información sobre Agronómía </a>
                </div>

        <%when 2%>
            <div class='result-img'>
                <img src="../img/Arquitectura.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN:La arquitectura para muchos no es sólo una carrera profesional, sino una vocación. No es que los futuros estudiantes de arquitectura tomen su decisión de una manera emocional o irracional. Por el contrario, es más bien una situación en la que las habilidades, talentos, intereses y preocupaciones de estas personas se alinean con las opciones que ofrece la vida como arquitecto.<p>
        	   <p>En la carrera de arquitectura no solo te enseñan a construir. Aprendes a crear espacios agradables y funcionales. Estos pueden ser espacios para trabajar, vivir, hacer deporte, ir a un concierto, etc. Es por eso que esta carrera es para personas que les guste el diseño y la estética, que tengan la capacidad de entender las necesidades de los demás y que no le teman a los números.<p>
        	   <p>Durante la carrera de arquitectura se analizan tres aspectos, cada uno igual de importante: tecnología, teoría y diseño.<p>
        	   </br>
        	   <p>DURACIÓN: 5 años.<p>
                </br>
                <a href="https://faud.unc.edu.ar/carrera-de-arquitectura/" target="_blank">Click aqui para mas información sobre Arquitectura </a>
            </div>

        <%when 3%>
            <div class='result-img'>
                <img src="../img/Arte.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: No hay ninguna carrera que te haga artista. Pero puedes aprender a desarrollar tus ideas creativas de la mejor manera. ¿Cómo? Estudiando bellas artes. En la carrera de bellas artes aprendes a desarrollar tu visión única, conoces un poco de cada una de las disciplinas y tú decides en cual especializarte.<p>
        	   <p>Las bellas artes surgen desde la antigua Grecia, donde eran clasificadas como artes mayores y artes menores. Las artes mayores eran las que llegaban a las personas por medio de la vista y el oído, y las menores se percibían por el tacto, el gusto y el olfato.<p>
        	   <p>Las bellas artes son una forma de expresión, también se clasifican como una manera universal de lenguaje en la que la estética y la belleza sobresalen. Estas formas de expresión ya no son clasificadas por el medio por el cual se trasmiten, aunque las siete son percibidas por medio del oído y la vista. Estas son: la arquitectura, la escultura, la pintura, la música, la literatura, la danza y el cine. Dedicarte a alguna de estas disciplinas no solo es expresarte, es también una manera de mantenerte sano, de curar tu alma al decir lo que sientes por un medio muy bello, el cual las personas llamamos: ARTE.<p>
        	   </br>
        	   <p>DURACIÓN: 5 años aprox.<p>
                </br>
                <a href="https://artes.unc.edu.ar/departamentos/departamento-de-artes-visuales/carreras/" target="_blank">Click aqui para mas información sobre Arte </a>
            </div>

        <%when 4%>
            <div class='result-img'>
                <img src="../img/Computación.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: El titulo de Analista en Sistemas brinda los conocimientos para comprender las estructuras de programación relacionadas con las estructuras de datos. Los graduados pueden diagnosticar las necesidades de información de los usuarios y diseñar nuevos sistemas o modificar los existentes.<p>
        	   <p>La carrera incluye conocimientos sobre diversos lenguajes de programación, sistemas operativos, hardware y telecomunicaciones. Además brinda sólida formación en matemática, Ingeniería del Software (metodologías de análisis, diseño e implementación, normas de calidad, integración de sistemas de base de datos, dirección de proyectos), sistemas en tiempo real, inteligencia artificial y simulación de sistemas. Los graduados están capacitados para entender los procesos de negocios y actuar en ambientes interdisciplinarios, como el de la alta dirección.<p>
        	   <p>Los alumnos realizan sus prácticas en laboratorios altamente equipados y trabajan en cursos reducidos. Esto hace que la enseñanza sea mucho más individualizada.<p>
        	   <p>La carrera otorga el título intermedio de Analista de Sistemas al finalizar el tercer año, que acredita conocimientos en programación y análisis de sistemas. Esto colabora con la inserción laboral de los estudiantes.<p>
        	   </br>	
        	   <p>DURACIÓN: 3 años aprox.<p>
                </br>
                <a href="https://www.unrc.edu.ar/unrc/carreras/exa_analista_computacion.php" target="_blank">Click aqui para mas información sobre Computación</a>
                </br>
            </div>

        <%when 5%>
            <div class='result-img'>
                <img src="../img/Economía.jpg"/>
            </div>

            <div class= 'info-careers'>
                <p>DESCRIPCIÓN: La carrera de Economía está orientada a la gestión y administración de acciones relacionadas a la producción y el consumo de la riqueza. Mediante la creación de estrategias y decisiones a nivel público, el economista pretende encontrar la manera de satisfacer los deseos de la población y la asignación de recursos según corresponda. Son personas capacitadas para la lectura minuciosa de datos económicos, el análisis interpretativo de cómo evoluciona la economía tanto en el sector nacional como en el internacional y pueden trabajar dentro de una empresa o como intermediario en diversas situaciones.<p>
                <p>El plan de estudios incluye la teoría económica, las principales corrientes de su pensamiento y las técnicas de calidad y cantidad sobre los recursos capitales de una empresa. Un egresado en Economía puede desempeñarse como científico social, como investigador económico o directo en el sector empresarial.<p>
                <p>Entre sus objetivos centrales encontramos la evaluación de proyectos y su rentabilidad, la confección de presupuestos económicos y financieros para instituciones públicas, el análisis de fenómenos sociales, el conocimiento de la actualidad de los mercados y de las leyes que regulan las riquezas. Puede trabajar en una gran cantidad de espacios, dedicarse al ámbito educativo o a la investigación.<p>
                </br>
        	   <p>DURACIÓN: 5 años aprox.<p>
                </br>
                <a href="https://www.unrc.edu.ar/unrc/carreras/eco_lic_economia.htm" target="_blank">Click aqui para mas información sobre Economía</a>
                </br>
            </div>

        <%when 6%>
            <div class='result-img'>
                <img src="../img/Educación Física.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: La Educación Física, dentro de las ciencias de la educación, implica un desafío para el profesional, una mixtura de entretener y educar a los alumnos. Estudiar Educación Física es un deseo de muchas personas, aquellas que les gusta el deporte y también tienen alma de docentes. Es para aquellas personas con vocación que intentan dar su modo de ver el deporte a los alumnos.<p>
                <p>La Educación Física trata de una fusión en el cuidado y desarrollo de la salud, cuerpo y mente. Es tanto para infantes, escolares como para adultos. El educador físico puede desempeñarse como maestro, entrenador o personal trainner. Además puede realizar tareas de investigación relacionadas con el ámbito del desarrollo deportivo del ser humano.<p>
                <p>Realiza tareas deportivas, de ejercicios de calentamiento, así como también pueden abocarse a un deporte en particular y especializarse en el mismo.<p>
                </br>
        	   <p>DURACIÓN: 4 años prox.<p>
                </br>
                <a href="https://www.unrc.edu.ar/unrc/carreras/hum_prof_educacion_fisica.php" target="_blank">Click aqui para mas información sobre Educación Física</a>
                </br>
            </div>

        <%when 7%>
            <div class='result-img'>
                <img src="../img/Filosofía.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: La filosofía es el estudio sistemático y crítico de las cuestiones fundamentales que se plantean en la vida cotidiana y en la práctica con otras disciplinas. Algunas de estas preguntas se refieren a la naturaleza de la realidad: ¿Existe el mundo? ¿Cuál es la relación entre lo físico y lo mental? ¿Hay Dios?<p>
                <p>Otras, por su parte, se refieren a nuestra naturaleza como seres racionales, emocionales y sociales: ¿Actuamos libremente? ¿De dónde proceden nuestras obligaciones morales? ¿Cómo construimos la política?<p>
                <p>Otras, se orientan a la naturaleza y al alcance de nuestro conocimiento: ¿Qué es lo que diferencia al saber del simplemente creer? ¿Procede todo nuestro conocimiento de experiencias sensoriales? ¿Hay límites a nuestro conocimiento?.<p>
                <p>Y otras, finalmente, se refieren a los fundamentos e implicaciones de otras disciplinas: ¿Cuándo una explicación es científica? ¿Cuál es la situación de la teoría de la evolución frente al creacionismo? ¿Puede la clonación genética alterar nuestras concepciones de identidad como humanos? ¿Los resultados de la mecánica cuántica nos obligan a ver nuestras relaciones con los objetos de manera diferente?<p>
                </br>
        	   <p>DURACIÓN:5 años aprox.<p>
                </br>
                <a href="https://www.unrc.edu.ar/unrc/carreras/hum_lic_en_filosofia.php" target="_blank">Click aqui para mas información sobre Filosofia </a>
                </br>
            </div>

        <%when 8%>
             <div class='result-img'>
                <img src="../img/Física.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: La física se trata de una de las ciencias más elementales. La finalidad de un físico es conocer cómo actúa el universo de la manera más detallada y profunda posible. Esto incluye todo, desde las partículas más fundamentales, a moléculas, átomos, núcleos, macromoléculas, sólidos, líquidos, células vivas, gases, los organismos vivos, los sistemas complejos, el cerebro humano, la atmósfera, las estrellas, los planetas, las galaxias e incluso el mismo universo.<p>
                <p>Es posible que los físicos sean los científicos más transformables, que tienen la capacidad de atravesar fronteras de otras especialidades como la biología, la química o la medicina, por mencionar algunas. Dado a que los físicos poseen una un amplio conocimiento de la naturaleza, se les facilita la aplicación de su competencia a múltiples áreas. El resultado de esto es que hay una gran variedad de físicos, geofísicos, astrofísicos, biofísicos, etc<p>
                <p>Para que una persona estudie Física, es importante que tenga interés por su entorno, que sea una persona curiosa y con necesidad de conocer el porqué de las cosas, debe tener inquietudes profesionales y estar abierta a trabajar en campos vinculados con la tecnología, la ciencia, la medicina, la informática, la docencia, las nuevas energías y otras disciplinas más.<p>
                </br>
        	    <p>DURACIÓN:5 años aprox.<p>
                </br>
                <a href="https://www.unrc.edu.ar/unrc/carreras/exa_prof_fisica.php" target="_blank">Click aqui para mas información sobre física </a>
            </div>

        <%when 9%>
             <div class='result-img'>
                <img src="../img/Geología.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: La Geología estudia la tierra, sus procesos, sus materiales, su historia, así como su efecto en los seres humanos y la vida en general. Piedras, cristales, montañas, terremotos, volcanes, ríos, glaciares, desprendimientos de tierras, inundaciones y muchos otros temas se dividen en este amplio campo de investigación.<p>
                <p>Los geólogos trabajan para entender la historia de nuestro planeta. Cuanto mejor se pueda entender la historia de la tierra, mejor se podrán prever los acontecimientos y procesos del pasado podrían influir en el futuro.<p>
                <p>Si eres una persona que tiene una gran curiosidad sobre el planeta en el que vivimos, te cuestionas por los problemas que implican a la tierra y estás intrigado por el potencial de un tema que combina lo mejor de tanto las artes como las ciencias, la Geología es la carrera adecuada para ti.<p>
                </br>
        	   <p>DURACIÓN:5 años aprox.<p>
                </br>
                <a href="https://www.unrc.edu.ar/unrc/carreras/exa_lic_geologia.php" target="_blank">Click aqui para mas información sobre Geología </a>
            </div>

        <%when 10%>
            <div class='result-img'>
                <img src="../img/Historia.jpg"/>
            </div>

            <div class= 'info-careers'>
        	    <p>DESCRIPCIÓN: La Historia es una ciencia con una amplitud de ramas inimaginable para quienes aún no se han inmiscuido en el tema y que <body class="backgroun2"> brinda la posibilidad de ejercerla desde distintos sectores. Los estudiantes pueden elegir entre el Profesorado en Historia y la Licenciatura en Historia, o bien realizar la primera y luego completar las materias necesarias para obtener el segundo título.<p>
                <p>Ejercer la docencia, tanto primaria como secundaria o universitaria pública o privada, de la mano de la Historia implica la responsabilidad de transmitir una versión de los hechos a quienes se están formando para ser los protagonistas de los hechos futuros.<p>
                <p>La Historia es tal vez la más interesante de las ciencias sociales, ya que es integradora de todas las disciplinas. Sin conocer el pasado del hombre no se puede construir el presente ni mucho menos pensar en un futuro. Contar con las herramientas para entender lo que sucede en la actualidad es necesario para elaborar planes de acción superadores.<p>
                </br>
        	    <p>DURACIÓN:5 años aprox.<p>
                </br>
                <a href="https://www.unrc.edu.ar/unrc/carreras/hum_lic_historia.php" target="_blank">Click aqui para mas información sobre Historia </a>
            </div>

        <%when 11%>
            <div class='result-img'>
                <img src="../img/Literatura.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: La literatura juega un rol cultural esencial en la sociedad. Con ella aprendemos sobre la diversidad y la complejidad de las sociedades, la psicología y el comportamiento del otro. No es simplemente historia y tampoco es ciencia. No revela datos objetivos sobre el mundo que nos rodea, pero nos ayuda a interpretarlo. La literatura es el arte que aprovecha el lenguaje como vía de expresión, con el que podemos entender mejor lo que no nos es fácilmente entendible: el dolor, el odio, el amor, la muerte, la guerra, el sacrificio, la naturaleza humana, la verdad.<p>
                <p>El beneficio más obvio, resultado de estudiar literatura, es que desarrolla nuestro dominio del idioma, nos enseña lo poderoso que puede ser el lenguaje. Una palabra es mucho más que su definición pues la elección de un determinado vocablo implica mucha más información de la que se está literalmente diciendo. Cómo se escribe (o se dice) algo puede revelar alegría, indiferencia, pasión, pena, mentira, desconfianza… incluso también puede transmitir aburrimiento. La literatura te enseña a detectar y usar las sutilezas del lenguaje, abre nuestra mente a exasperadas y deliciosas ambigüedades. Los juegos de palabras, los dobles sentidos y otros pequeños matices les da al lenguaje posibilidades infinitas<p>
                </br>
        	    <p>DURACIÓN:4 años aprox.<p>
                </br>
                <a href="https://www.unrc.edu.ar/unrc/carreras/hum_prof_lengua_y_literatura.php" target="_blank">Click aqui para mas información sobre Literatura </a>
            </div>

        <%when 12%>
            <div class='result-img'>
                <img src="../img/Matemáticas.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: El estudio de las matemáticas es realmente el estudio de la resolución de problemas y hoy existen diferentes profesiones que puedes escoger y disfrutar relacionadas con la matemática.<p>
                <p>En lo que respecta a los datos de la carrera de matemáticas, podemos observar que tiene una duración de cuatro a seis años de cursada, en formato de licenciatura y posgrado<p>
                <p>Dentro de la licenciatura se pueden encontrar algunas materias como: álgebra, estadística, geometría, probabilidad, análisis. Algunas universidades brindan una variedad de temáticas como informática, metodología de la investigación, física y son parte de un plan de estudios diferenciado.<p>
                <p>Un matemático que quiere seguir una carrera no tradicional, sin dudarlo comienza por relacionarse con gente de cualquier campo que le despierte mucho interés, esto le permite adquirir experiencia práctica en el campo y en las habilidades más profundas.<p>
                </br>
        	    <p>DURACIÓN:4 años aprox.<p>
                </br>
                <a href="https://www.unrc.edu.ar/unrc/carreras/exa_lic_matematica.php" target="_blank">Click aqui para mas información sobre Matemáticas </a>
            </div>

        <%when 13%>
            <div class='result-img'>
                <img src="../img/Medicina.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: La carrera de Medicina brinda el conocimiento para diagnosticar y tratar pacientes, prevenir enfermedades, administrar los recursos farmacológicos y estar capacitado para los cambios científicos y tecnológicos. En un principio el médico está preparado para resolver problemas de salud generales y luego puede especializarse en un área en particular.<p>
        	   <p>Cursar estudios universitarios en medicina puede ser una gran decisión una vez los alumnos se encuentran en la encrucijada de decidir acerca de su futuro académico, siempre y cuando se trate de una elección puramente vocacional, ya que, a pesar de ser una carrera con una larga tradición, acarrea responsabilidades que distan mucho del resto de ofertas formativas.<p>
        	   <p>Estudiar la carrera de medicina propiciará, sin lugar a duda, un cambio importante en la vida del aspirante. La dedicación que requiere dicha titulación implicará numerosas horas de esfuerzo en estudios e investigación, y por lo tanto no se adapta con facilidad a cualquier perfil estudiantil.<p>
        	   </br>
        	   <p>DURACIÓN: 7 años aprox.<p>
                </br>
                <a href="https://fcm.unc.edu.ar/carrera-de-medicina/" target="_blank">Click aqui para mas información sobre Medicina</a>
            </div>

        <%when 14%>
            <div class='result-img'>
                <img src="../img/Periodismo.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: La Licenciatura en Periodismo brinda una sólida formación académica, crítica, rigurosa y plural en Medios y en áreas de Comunicación de organizaciones públicas y privadas. Los graduados están capacitados  para actuar en las diversas jerarquías de la gestión periodística, en cada una de sus especialidades y soportes: televisivos, radiofónicos, audiovisuales, gráficos y digitales. El Plan de Estudios tiene un fuerte enfoque en la nueva redacción multiplataforma y en las narrativas transmedias que integran creativamente competencias periodísticas de larga data con las tecnologías digitales aplicadas al campo profesional.<p>
                <p>A través de convenios con grandes medios periodísticos los estudiantes toman contacto directo con la innovación del sector y el trabajo profesional. La carrera se enriquece con conferencias y talleres de destacados periodistas y figuras del quehacer nacional e internacional. Las  aulas, laboratorios y Estudios de radio y Televisión del Centro de Producción de UCES (ProdUCES)  se convierten en verdaderas redacciones donde los estudiantes  producen los contenidos acordes a cada soporte vinculando la teoría con la práctica intensiva. El Plan de Estudios culmina con la  realización de una investigación periodística de alcance y rigor profesional.<p>
                </br>
                <p>DURACIÓN: 5 años aprox.<p>
                </br>
                <a href="https://fcc.unc.edu.ar/fcc-carreras/licenciatura" target="_blank">Click aqui para mas información sobre Periodismo </a>
            </div>

        <%when 15%>
            <div class='result-img'>
                <img src="../img/Química.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: Los químicos trabajan con productos químicos como el etileno y el polietileno; utilizar métodos de procesamiento para crear cantidades a escala industrial o comercial de nuevos productos químicos, bioquímicos, medicinas, combustibles, materiales especiales y más.<p>
                <p>Química a lo largo de los años ha ganado terreno. En la actualidad, es el sustento de muchas industrias y es por ello que es una carrera que se ha vuelto cada vez más interesante.<p>
                <p>Podemos comenzar con el temario más que completo con el que cuenta en su cursada. El profesional de esta carrera se egresa con una amplitud de conocimientos que le otorgarán la posibilidad de explorar por diferentes ámbitos de la profesión. Estos saberes también ayudan a la hora de salir al mercado laboral, ya que el graduado en Ingeniería Química se puede desempeñar en el ámbito de la educación, de la investigación o bien llevar adelante distintas tareas en organismos o tener funciones públicas.<p>
                </br>
        	    <p>DURACIÓN: 5 años aprox.<p>
                </br>
                <a href="https://www.unrc.edu.ar/unrc/carreras/exa_lic_quimica.php" target="_blank">Click aqui para mas información sobre Química </a>
            </div>

        <%when 16%>
            <div class='result-img'>
                <img src="../img/Sociología.jpg"/>
            </div>

            <div class= 'info-careers'>
        	    <p>DESCRIPCIÓN: El estudio de la Sociología permite investigar y analizar la sociedad desde una visión cultural, económica y política en un contexto histórico.<p>
                <p>El egresado investiga las tendencias actuales para planificar e implementar modificaciones en sectores públicos o privados, estudiar cómo se relacionan los grupos de poder y el Estado en las Relaciones internacionales de su país.<p>
                <p>La Sociología tiene el objetivo de comprender que las personas actúan en gran medida según las necesidades de la comunidad en la cual se encuentren, siendo la interacción social el enlace entre los hechos y la historia de una sociedad.<p>
                <p>El Sociólogo utiliza técnicas de entrevistas para obtener información, analiza y saca conclusiones, participa de investigaciones académicas, implementa programas urbanos en todos los sectores de la población, dispone de conocimientos en estadística para evaluar los datos recolectados y busca generar constantes cambios en diversas áreas de la sociedad.<p>
                </br>
        	   <p>DURACIÓN: 5 años aprox.<p>
                </br>
                <a href="https://sociales.unc.edu.ar/licenciaturasociologia" target="_blank">Click aqui para mas información sobre Sociología </a>
            </div>

        <%when 17%>
            <div class='result-img'>
                <img src="../img/Veterinaria.jpg"/>
            </div>

            <div class= 'info-careers'>
        	   <p>DESCRIPCIÓN: La carrera de Veterinaria forma profesionales para curar y llevar adelante prevenciones de las enfermedades sobre los animales.<p>
        	   <p>El estudio de Veterinaria permite incorporar conocimientos a nivel científico relacionados con la salud de los animales y el cuidado necesario para mejorar su calidad de vida. El egresado desarrolla medidas para detectar aquellas enfermedades que pueden ser transmitidas desde los animales hacia el hombre, siendo vital para el avance y el crecimiento de la salud pública.<p>
        	   <p>El profesional cuenta con técnicas para sacar un mayor provecho de la tecnología en alimentación para optimizar la rentabilidad de los productos que llegan del mundo animal.<p>
        	   <p>El veterinario está interesado en el cuidado de los recursos naturales y todo aspecto ecológico del ambiente que lo rodea, puede trabajar en sectores públicos o privados, conoce el comportamiento de los animales, trabaja con todo tipo de razas y dispone de los conocimientos comerciales y la tenencia legal de aquellos animales que pueden ser domésticos.<p>
        	   </br>
			   <p>DURACIÓN: 5 años aprox.<p>
               </br>
               <a href="https://www.unrc.edu.ar/unrc/carreras/ayv_medicina_veterinaria.htm" target="_blank">Click aqui para mas información sobre Veterinaria </a>
            </div>
    <%end%>
    
    <div class= 'info-careers'>
        <form action='/info_careers' method='POST'>
            </br>
    	    <input type='submit' value='Volver atrás'>
        </form>
    </div>

    </body>
    
</html>
