<!DOCTYPE html>

<html>
	<head>
		<link rel='stylesheet' href='/styles.css' type='text/css'/>
	</head>

	<body>
   		<h1>¡HOLA, BIENVENIDO A TESTVOCACIONAL-21!</h1>
        	<h2>TestVocational-21 es una plataforma gratuita que te ayuda a decidir tu futuro con información actualizada sobre carreras. Estamos aquí para ayudarte a encontrar la mejor carrera!. Para comenzar, te haremos una serie de preguntas. Estas preguntas estan diseñadas para ayudarnos a encontrar las carreras que mas se adaptan a ti en función de tus intereses. No hay respuestas incorrectas, solo aprenderemos sobre tus gustos..</h2>
    	
    	<div class='landing'>	
				<div class='btn'>
    				<form action='/inicio' method='POST'>
    					<input type='submit' value='¡COMENZAR TEST!'>
    				</form>
    			</div>
    			
				<div class='btn'>
					<form action='/info_careers' method='POST'>
						<input type='submit' value='Carreras disponibles en este test'>
     				</form>
				</div>

				<div class='btn'>
        			<form action='/careers_info_survey' method='POST'>
            			<input type='submit' value='Buscar información de una carrera en particular'>
       			 	</form>
				</div>

				<div class='btn'>
        			<form action='/info_surveys' method='POST'>
            			<input type='submit' value='Información de usuarios que han usado este servicio'>
       			 	</form>
				</div>
			</div>
    </body>

</html>
