<html>
  <body>
    <h1> ¡HOLA, BIENVENIDO! </h1>
    <body background="https://s1.eestatic.com/2020/12/31/imprescindibles/547706267_168620333_1024x576.jpg">

    <form action='/surveys' method='POST'>
      <div> <p> A continuación, ingresá tu nombre: </p> 
      </div>
      <input type='text' name='name'>
      <input type='submit' value='Start'>
    </form>
  </body>  
</html>