<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/styles.css' type='text/css'/>
    </head>

    <body class="background2">

    <h1>TESTVOCACIONAL-21</h1>
        <div class="imput-user">
     
    <body>
        La cantidad de encuestas que dieron como resultado la carrera <%=@career.name%> entre <%=@fecha_ini%> y <%=@fecha_fin%> fueron <%=@count%> 
    </body>
    <div class='btn'>
          <form action='/init' method='POST'>
          </br>
            <input type='submit' value='Inicio'>
          </form>
    </div>

</html>
