<!DOCTYPE html>
<html>
	   <h1>--------------------------------------------TESTVOCACIONAL-21-------------------------------------------</h1>
        <div style="text-align: center">
		      <form action='/surveys' method='POST'>
            <p> ¡Ingrese su nombre de usuario para comenzar! </p>
            	<label for="name">Usuario:</label>
            	<input type="text" id="name" name="username" required/>
				      <input type='submit' value='Entrar'>
		      </form>
        </div>
		    <form action='/init' method='POST'>
  			</br>
    		    <input type='submit' value='Volver atrás'>
  	    </form>
</html>