<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='/styles.css' type='text/css'/>
  </head>

  <body class='background2'>
     
     <h1>TESTVOCACIONAL-21</h1>
        
        <div class="imput-user">
          <form action='/surveys' method='POST'>
              <p> ¡Ingrese su nombre de usuario para comenzar! </p>
                <label for="name">Usuario:</label>
                  <input type="text" id="name" name="username" placeholder="ingrese usuario..."required/>
                <input type='submit' value='Entrar'>
          </form>
        </div>

    <div class="back">
        <form action='/init' method='POST'>
        </br>
            <input type='submit' value='Volver atrás'>
        </form>
    </div>

  </body>

</html>